<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="sample.service.impl.SampleMapper">
    
    <select id="selectSampleList" parameterType="java.util.Map" resultType="java.util.Map">
      SELECT
        ID, NAME, DESCRIPTION, USE_YN, REG_USER
      FROM SAMPLE
      WHERE 1=1
      <if test="keyword != null and keyword != ''">
            <choose>
                <when test="searchType == 'ID'">
            AND ID LIKE '%' || #{keyword} || '%'
          </when>
                <when test="searchType == 'NAME'">
            AND  NAME LIKE '%' || #{keyword} || '%'
          </when>
        </choose>
      </if>
      ORDER BY ID ASC
    </select>

</mapper>